.logo {
  width: 135px;
  height: 135px;
}

header{
    background-color: #A2FF55;
    margin-bottom: 20px;}

header {
  background-color: #a2ff55;
  display: flex;
  align-items: center;

}
header a {
  border: 3px solid #3c8600;
  background-color: #387c00;
  color: #a2ff55;
  text-decoration: none;
  font-size: 37px;
  text-align: center;
}

.opis1{
    
    width: 850px;    
    margin: 0 auto;
      height: 200px; 
    border: 5px solid rgb(114, 206, 114);
    margin-bottom: 20px;
    border-radius: 15px;  
    
}
.name_short_opis{
    color:#354309;
    font-size: 39px;
    text-align: center;
}
.short_opis{
    text-align: center;
    font-size: 19px}
.name_short_opis {
  color: #1f2804;
  font-size: 39px;
  text-align: center;
}
.short_opis {
  text-align: center;
  font-size: 18px;

}
.text_perevagu {
  color: #e9ab00;
}

.perevagu{
  width: 300px;
    height: 300px;
    border: 6px solid #80c904;
    border-radius: 10px;
    text-align: center;
    background-color: #f5f5dc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;}

.perevagu {
  width: 300px;
  height: 300px;
  border: 2px solid #80c904;
  border-radius: 10px;
  text-align: center;
  background-color: #f5f5dc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200;
    width: 400;
    margin: 0 auto;
}

.protabir_golovne{
max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
  font-size: 16px;
  text-align: justify;
}

nav {
  width: 85%;
  display: flex;
  justify-content: center;
}

nav a {
  margin: 0px 65px;
  padding: 5px 10px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 3, 7, 0.5);
}

body {
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Share+Tech&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
   font-family: "Source Code Pro", monospace;
  margin: 0;
}

.history_name{
  text-align: center;
}
.history{
  text-align: center;
}

.schedule-container {
  max-width: 800px;
  margin: auto;
  background-color: #e9ffe9;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 100, 0, 0.2);
}

.schedule-container h2 {
  text-align: center;
  color: #1c501f;
  margin-bottom: 20px;
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;
}

.schedule-table th {
  background-color: #A2FF53;
  color: #103113;
  padding: 12px;
  font-size: 16px;
}

.schedule-table td {
  padding: 10px 12px;
  border-bottom: 1px solid #acd0ae;
}

.schedule-table tr:nth-child(even) {
  background-color: #f9fbe7;
}



.info-box {
  max-width: 800px;
  margin: 40px auto;
  background-color: #fcfff0;
  border-left: 8px solid #fef030;
  border-radius: 12px;
  padding: 25px 30px;
  box-shadow: 0 4px 10px rgba(102, 187, 106, 0.2);
  
}

.info-box p {
  font-size: 16px;
  color: #4e4e4e;
  line-height: 1.6;
}
